/* contact */

.contact {
  padding: 20px 5%;
  background: #1f4d2b;
  color: white;
  text-align: center;
}

.contact-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-item {
  background: #3a7d44;
  padding: 5px 10px;
  border-radius: 10px;
}
