<header class="header">
  <div class="logo"><img id="logo-img" class="logojpg" /> کشت و صنعت حامد</div>
  <nav class="category-nav">
    <div class="category-item">
      <a class="nav-links" data-page="products">محصولات</a>

      <div class="submenu">
        <a class="category-link" data-page="products">سیب قرمز</a>
        <a class="category-link" data-page="products">ماهی قزل آلا</a>
        <a class="category-link" data-page="products">زعفران ممتاز</a>
        <a class="category-link" data-page="products">محصولات باغی</a>
      </div>
    </div>
    <a class="nav-links" data-page="restaurant">رستوران</a>
    <a class="nav-links" data-page="contact">تماس با ما</a>
    <a class="nav-links" data-page="home">خانه</a>
  </nav>
  <div class="menu-icon" onclick="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<!-- Overlay -->
<div id="overlay" class="overlay" onclick="closeMenu()"></div>

<!-- Side Menu -->
<nav id="sideMenu" class="side-menu">
  <a class="nav-links" data-page="home">خانه</a>
  <a class="nav-links" data-page="products"> محصولات</a>
  <a class="nav-links" data-page="restaurant">رستوران</a>
  <a class="nav-links" data-page="contact">تماس با ما</a>
</nav>
